* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(198, 162, 168);
}

#time {
    font-size: 70px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#initialTitle {
    text-align: center;
    color: rgb(87, 57, 235);
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#textStatistics {
    text-align: center;
}

#mainStatistics {
    text-align: center;
    height: 300px;
    background-color: rgb(88, 182, 155);
    overflow-x: hidden;
    padding: 5px;
    width: 200px;
}

#deleteStatistics {
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2.5px;
    margin: 0;
    cursor: pointer;
}

#deleteStatistics:hover {
    background-color: lightgoldenrodyellow;
}

#divStatistics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#text {
    text-align: center;
    font-size: 30px;
    color: rgb(32, 76, 137);
}

#timeStatis {
    font-weight: bold;
}

.averageP {
    font-size: 70px;
}

#all {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#bestScore {
    color: green;
}

#badScore {
    color: red;
}

#algorithm {
    font-size: 25px;
    text-align: center;
    color: rgb(46, 97, 46);
    background: rgb(53, 197, 135);
    width: 100%;
    bottom: 0;
    position: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#divStartStop {
    display: none;
}

#startStop {
    padding: 15px;
    cursor: pointer;
    background: rgb(24, 107, 130);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 700px) {
    #all {
        display: flex;
        flex-direction: column;
    }
    #divStartStop {
        display: block;
        text-align: center;
    }
    #algorithm {
        position: relative;
    }
    #all > div {
        margin: 25px 0;
    }
    #text {
        display: none;
    }
}